
Temp/
Library/
Logs/
obj/
.vs/
.cache/
.user/
.unsafed/

ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
UnityVS/
UnityVS.meta
*.exr
*.exr.meta
LightingData.asset
LightingData.asset.meta
*.apk

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db